<mat-toolbar class="mat-elevation-z4" color="primary">
  <span><a routerLink="/">Research Wiki</a></span>
    <span class="spacer"></span>
    <!-- <div>
        <input placeholder="Write here..." [(ngModel)]="searchId">
        <button mat-button [routerLink]="['display', searchId]">Search</button>
    </div>
    <span class="spacer"></span> -->
    <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
    <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a>
    <!-- <a mat-button routerLink="/" routerLinkActive="">
      <mat-icon aria-hidden="false" aria-label="settings icon">settings</mat-icon>
    </a> -->
    <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
