<mat-toolbar class="mat-elevation-z4" color="primary">
  <span><a routerLink="/">SPU</a></span>
    <span class="spacer"></span>
    <span id="searchBox">
        <app-article-search *ngIf="!isHome"></app-article-search>
    </span>
    <span class="spacer"></span>
    <a *ngIf="userIsAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
    <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign up</a>
    <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
</mat-toolbar>
