.search-result {
  width: 70%;
  margin: auto;
}

.search-result li {
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  padding: 7px;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  display: block;
  text-decoration: none;
}

.search-result li:hover a {
  color: white;
}

.search-result li a:active {
  color: white;
}

#search-box {
  width: 50%;
}
