mat-chip-list {
  float: left;
}

.content-card {
  margin-left: auto;
  margin-top: 3rem;
  margin-right: 2rem;
  width: 75%;
  position: relative;
}

mat-card-content {
  margin-top: 2rem;
}

ul {
  list-style: none;
}

a {
  color: black;
}

@media only screen and (max-width: 1026px) {
  .navigate-card {
      display: none;
  }
}
.navigate-card {
    background-color:#ddd;
    position: fixed;
    padding-left: 0;
    padding-right: 2.5rem;
    left: 10%;
    top: 16%;
    transform: translateX(-50%);
    min-height: 300px;
    max-width: 200px;
}

.chips  {
  padding-left: 5px;
}

mat-spinner {
  margin: auto;
}

.edit-delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
