<div class="container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card *ngIf="!isLoading" class="content-card">
        <mat-card-header>
            <a #edit [routerLink]="['/edit', id]">
              <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
            </a>
            <mat-card-title>{{article?.title}}</mat-card-title>
            <mat-card-subtitle *ngFor="let author of article?.authors">{{author.name}}</mat-card-subtitle>
        </mat-card-header>
      <div>
          <mat-chip-list *ngFor="let category of article?.categories" aria-label="categories">
            <mat-chip>{{category}}</mat-chip>
          </mat-chip-list>
      </div>
      <br>
      <br>
      <mat-divider></mat-divider>
      <mat-card-content>
          <div [innerHTML]='article?.content | safeHtml'></div>
      </mat-card-content>
    </mat-card>
    <mat-card class="navigate-card">
      <ul></ul>
    </mat-card>
</div>
