<div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card *ngIf="!isLoading" class="content-card">
        <mat-card-header>
          <div *ngIf="userIsAuthenticated && userId == article.creator"  class="edit-delete">
            <a mat-button [routerLink]="['/edit', id]">
              <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
            </a>
            <button mat-button (click)="onDelete(id)">
                <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
            </button>
          </div>
          <mat-card-title>{{article?.title}}</mat-card-title>
        </mat-card-header>
      <div>
          <mat-chip-list class="chips" *ngFor="let category of article?.categories" aria-label="categories">
            <mat-chip>{{category}}</mat-chip>
          </mat-chip-list>
      </div>
      <br>
      <br>
      <mat-divider></mat-divider>
      <mat-card-content>
          <div [innerHTML]='article?.content | safeHtml'></div>
      </mat-card-content>
    </mat-card>
    <mat-card class="navigate-card">
      <ul id="navigationUL"></ul>
    </mat-card>
</div>
