.container {
  display: flex;
  flex-direction: column;
}

.editContainer{
  margin: auto;
  width: 70%;
  padding: 50px;
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 500px;
  margin-bottom: 1rem;
}

button {
  margin: 0.3rem;
}

mat-spinner {
  margin: auto;
}
