<div class="editContainer">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onSaveArticle(articleForm)" class="container" #articleForm="ngForm">
      <mat-form-field>
        <input matInput minlength="3" required [ngModel]="article?.title" name="title" placeholder="Title" #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-chip-list #chipList aria-label="Category selection">
            <mat-chip
              *ngFor="let category of categories"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(category)">
              {{category}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Categories..."
              #categoryInput
              [formControl]="categoryCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
              {{category}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <ckeditor [(ngModel)]="summaryModel.editorData"  name="ckeditor1" [editor]="Editor"
        [config]="{
          toolbar: {
            items: [
              'heading',
              '|',
              'bold',
              'italic',
              'link',
              'bulletedList',
              'numberedList',
              'imageUpload',
              'blockQuote',
              'insertTable',
              'mediaEmbed',
              'undo',
              'redo'
            ]
          },
          cloudServices: {
            tokenUrl: 'https://40370.cke-cs.com/token/dev/Blaai9MtjI5UdkqrP5SN1l5n6kbFUGIXXYfjAQuEpoZoGNBza9tr4hRYnUcR',
            uploadUrl: 'https://40370.cke-cs.com/easyimage/upload/'
          }
        }">
        </ckeditor>

        <ckeditor [(ngModel)]="contentModel.editorData" name="ckeditor2" [editor]="Editor"
        [config]="{
          toolbar: {
            items: [
              'heading',
              '|',
              'bold',
              'italic',
              'link',
              'bulletedList',
              'numberedList',
              'imageUpload',
              'blockQuote',
              'insertTable',
              'mediaEmbed',
              'undo',
              'redo'
            ]
          },
          cloudServices: {
            tokenUrl: 'https://40370.cke-cs.com/token/dev/Blaai9MtjI5UdkqrP5SN1l5n6kbFUGIXXYfjAQuEpoZoGNBza9tr4hRYnUcR',
            uploadUrl: 'https://40370.cke-cs.com/easyimage/upload/'
          }
        }">
        </ckeditor>

        <div>
          <button mat-raised-button (click)="goBack()">Back</button>
          <button type="submit" mat-raised-button color="accent">Save</button>
        </div>
      </form>
</div>
