<div class="editContainer">
  <form (submit)="onSaveArticle(articleForm)" class="container" #articleForm="ngForm">
      <mat-form-field>
        <input matInput minlength="3" required ngModel name="title" placeholder="Title" #title="ngModel">
        <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput minlength="2" placeholder="Authors" name="author" ngModel required #author="ngModel">
        <mat-error *ngIf="author.invalid">Please enter a valid author</mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-chip-list #chipList aria-label="Category selection">
            <mat-chip
              *ngFor="let category of categories"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(category)">
              {{category}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Categories..."
              #categoryInput
              [formControl]="categoryCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
              {{category}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <ckeditor [(ngModel)]="model.editorData" name="ckeditor" [editor]="Editor"></ckeditor>
        <div>
          <button mat-raised-button (click)="goBack()">Back</button>
          <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
      </form>
</div>
